html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  fill: steelblue;
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  width: 100%;
}

header label {
  margin-left: auto;
}

#time-filter {
  width: 20em;
}

#selected-time,
#any-time {
  display: block;
  text-align: right;
}

#any-time {
  color: gray;
  font-style: italic;
}